.complist {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto 0;
    &__container {
        padding: 0 30px 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        gap: 20px 15px;
    }

    &__item {
        padding: 10px 5px 10px;
        height: 260px;
        align-self: center;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        border: thin solid plum;
        border-bottom: thick solid plum;
        color: grey;
    }

    &__item-image {
        width: 130px;
        height: 140px;
        margin: 0 auto 0;
    }
    &__item-name {
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
        margin: 20px auto 0;
        text-align: center;
    }

    &__item-country {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin: 10px auto 0;
        text-align: center;
    }
}
