.content {
    
    &__loader {
        @include header-screen-text();
        margin-top: 40px;
        width: 100%;
        text-align: center;
        white-space: nowrap;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            @include mobile-screen-text();
        }
    }
}
