#root {
    display: flex;
    flex-direction: column;
}

.page {
    background-color: #f2f2f2b6;
    color: grey;
    font-family: "Inter", sans-serif;
    padding: 0 30px 0;
    margin: 0;
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        padding: 0 20px 0;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
        padding: 0 7px 0;
    }
}
